* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/*NAVIGATION BAR*/

/*Navigation Bar*/

.navbar {
	background-color: black;
	font-size: 25px;
	font-family: 'Libre Caslon Display', serif;
	color: #F7ECEE;

	display: flex;
	align-items: center;	
	justify-content: space-between;
	position:sticky;
	top: 0px;
	height: 40px;

}

.navbar > a {
	margin-left: 60px; 
	text-decoration: none;

}

.navbar > a:visited{
	color: #F7ECEE;
}




/*.navbar-list > li {
    display: inline-block;
    margin-right: 30px;
}*/

/*Navbar fix start*/
.navbar-list > li {
  float: left;
}

.navbar-list > li > a {
  display: block;
  text-align: center;
  padding: 5px 16px 4px 16px;
}


.navbar-list > li > a:hover {
   background: rgb(175, 38, 54 , 0.8);
 }

/*.navbar-list > li > a {
  display: block;
  text-align: center;
}*/


/*Navbar fix end*/

a {
	text-decoration: none;
}

a:link {
	color: #F7ECEE;
}


a:active {
	color: #F7ECEE;
}


a:visited {
	color: #F7ECEE;
}



.cover-page {
	background: url(../images/photo3.png);
	background-size: cover;
	background-position: center;
	height: 100vh;
	
/*	display: flex;

	justify-content: center; 
	align-items: center; */
}


.sticky {
	display: flex;
	justify-content: center; 
	align-items: center; 
	margin-top: 5vw;
}


.avail {
	align-items: center; 
	justify-content: center;
	display: flex;
	flex-direction: column;
	
}

.section-name {
	margin-top: 20px;
	border: solid black;
	padding: 30px 50px;
	color: black;
}

.package1 {
	height: 60vh;
	width: 20vw;
	background: white;
	border: solid black 2px;
	margin: -20px 10px 0 10px;
	background: url(../images/avail3.jpg);
	background-size: cover;
	background-position: center;
	
	text-align: center;



	transition:	3s;
	filter: gray;
	-webkit-filter: grayscale(1); 
	/* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .5s ease-in-out; 
}


.text-center > h1 {
	font-size: 35px;
	text-shadow: -1px -1px rgba(0,0,0,0.5), 1px 1px rgba(255,255,255,0.5);

}

.text-center li{
	font-size: 18px;
	font-style: italic;
	font-weight: 1000;
	/*color: #F7ECEE;*/
}

.package2 {
	height: 60vh;
	width: 20vw;
	background: white;
	border: solid black 2px;
	margin: -20px 10px 0 10px;
	background: url(../images/avail1.jpg);
	background-size: cover;
	background-position: center;

	text-align: center;

	transition:	3s;
	filter: gray;
	-webkit-filter: grayscale(1); 
	/* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .5s ease-in-out; 
}

.package3 {
	height: 60vh;
	width: 20vw;
	background: white;
	border: solid black 2px;
	margin: -20px 10px 0 10px;
	background: url(../images/avail2.jpg);
	background-size: cover;
	background-position: center;

	text-align: center;

	transition:	3s;
	filter: gray;
	-webkit-filter: grayscale(1); 
	/* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .5s ease-in-out; 
}




.package1:hover {
	z-index: 9999;
	filter:none;
	-webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
	transform: scale(1.2);
	border: none;
}

.package2:hover {
	z-index: 9999;
	filter:none;
	-webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
	transform: scale(1.2);
	border: none;
}

.package3:hover {
	z-index: 9999;
	filter:none;
	-webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
	transform: scale(1.2);
	border: none;
}

.pkg-btn-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}


/*Button effect*/
.button {
  padding: 15px 25px;
  font-size: 20px;
  font-family: 'Libre Caslon Display', serif;
  font-style: bold ;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #F7ECEE;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  border-radius: 15px;

  margin-top: 20px;
  /*box-shadow: 0 9px #999;*/
}

.button:hover {
	background-color: 	rgb(71, 167, 183, 0.8);
}


li {
	list-style-type: none;
}


.text-center {
	margin-top: 50px;
}



/*MEDIA QUERIES*/

/*Galaxy S5*/

@media only screen and (min-width: 360px) and (max-width: 640px) {
	/*we can do our normal css here*/
	* {
		font-size: 10px;
	}

	.section-name {
		font-size: 25px;
	}

	.text-center > h1 {
	font-size: 20px;

	}


	.text-center li{
		font-size: 12px;
	}

	.sticky {
		flex-direction: column;
	}

	.navbar {
		position: sticky;
		z-index: 1;
	}

	.navbar > a {
		margin-left: 30px;
	}

	.package1, .package2, .package3 {
		height: 360px;
		width: 240px;
	}

	.button {
		padding: 5px 10px;
		margin-bottom: 40px;
	}


	.section-name {
		margin-bottom: 20px;
	}

	body, .cover-page {
		background-color : gray;
		height: 100%;
		/*background-size: cover;*/
	}
}


/*IPAD*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	/*we can do our normal css here*/
	

	.package1, .package2, .package3 {
		height: 600px;
		width: 200px;
	}

	
}