* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-weight: normal;
}


/*Label in meet the crew*/
h2, .digital-surf-color {
	color: #FD0F
}


/*Navigation Bar*/

.navbar {
	background-color: black;
	font-size: 25px;
	font-family: 'Libre Caslon Display', serif;
	color: #F7ECEE;

	display: flex;
	align-items: center;	
	justify-content: space-between;
	position:sticky;
	top: 0px;
	height: 40px;
	z-index: 99999;

}

.navbar > a {
	margin-left: 60px; 
	text-decoration: none;

}

.navbar > a:visited{
	color: #F7ECEE;
}



.navbar-list > li {
    display: inline-block;
    /*margin-right: 30px;*/
}

/*Navbar fix start*/
.navbar-list > li {
  float: left;
}

.navbar-list > li > a {
  display: block;
  text-align: center;
  padding: 5px 16px 4px 16px;
}


.navbar-list > li > a:hover {
   background: rgb(175, 38, 54 , 0.8);
 }

/*.navbar-list > li > a {
  display: block;
  text-align: center;
}*/


/*Navbar fix end*/



a {
	text-decoration: none;
}

a:link {
	color: #F7ECEE;
}


a:active {
	color: #F7ECEE;
}


a:visited {
	color: #F7ECEE;
}

.navbar-list > li > a {
	display: block;
  /*color: white;*/
  text-align: center;
}



/*COVER PHOTO*/

.cover-photo {
/*	background: url(../images/cover-photo.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;*/

	/*center content */
	
	justify-content: center; /*horizontal*/
	align-items: center; /*vertical*/ 
	display: flex;
	flex-direction: column;
	/*text-align: center;*/

	position: absolute;
	z-index: 99;

	/*blur effect*/
	/* filter: blur(1px);
     -webkit-filter: blur(1px);*/


}

.cover-photo-wrapper {
	display: flex;
	justify-content: center; 
	align-items: center; 
	

}

p.title {
	border: solid 3px #F7ECEE;
	padding: 30px 100px;
	margin-bottom: 120px;

}

p.subtitle {
	margin-bottom: 10px;
}


/*FIRST DIV START*/

.first-div-header {
	background-color: black;
	background-size: cover;
	background-position: center;
	height: 30vh;
	align-items: center; 
	justify-content: center;
	display: flex;
	flex-direction: column;
	color: #F7ECEE;
}

.first-div {
	background-color: black;
	background-size: cover;
	background-position: center;
	height: 70vh;
	display: flex;
	align-items: center;
	/*justify-content: center;*/
	flex-direction: column;
	color: #F7ECEE;

}

.first-div > img {
	height: 400px;
	width: 400px;
}

.first-div > p {
	font-size: 30px;
}



/*FIRST DIV END*/

/*SECOND DIV START*/

.second-div-1 {
	/*background: url(../images/photo3.png);*/
	background-color: black;
	background-size: cover;
	background-position: center;
	height: 30vh;
	align-items: center; 
	justify-content: center;
	display: flex;
	flex-direction: column;

}



.second-div {
	/*background: url(../images/photo3.png);*/
	background-color: black;
	background-size: cover;
	background-position: center;
	height: 70vh;
	align-items: center; 
	/*justify-content: center;*/
	display: flex;
	flex-direction: column;

}

.div-portraits {
	align-items: center; 
	justify-content: center;
	display: flex;
	/*flex-direction: column;*/


	text-align: center;
	color: #F7ECEE;

}

.portrait {
	height: 300px;
	width: 300px;
	filter: grayscale(100%);
	margin: 10px;
}

.section-name {
	border: solid #F7ECEE;
	padding: 30px;
	/*margin-bottom: 200px;*/
	color: #F7ECEE;
}

.we-are-ds {
	text-align: center;
	justify-content: center;
	/*color: #F7ECEE;*/
}

.ds-footer-1, .ds-footer-2 {
	color: white;
}


.ds-footer-1 {
	margin-top: 100px;
}


.align > h2 {
	font-size: 27px;
}

.align > p {
	font-size: 18px;
}


/*SECOND DIV END*/



/*THIRD DIV START*/

.highlights-section {
	background: url(../images/photo5.png);
	/*background-color: gray;*/
	background-size: cover;
	background-position: center;
	height: 100vh;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}

.third-div-btn {
	text-align: center;
	margin-top: 150px;
}


.third-div-1 {
/*	background-color: gray;
	background-size: cover;
	background-position: center;*/
	height: 30vh;
	align-items: center; 
	justify-content: center;
	display: flex;
	flex-direction: column;
}


.third-div {
/*	background-color: gray;
	background-size: cover;
	background-position: center;*/
	height: 70vh;

}


.highlight {
	height: 250px;
	width: 250px;
	border: solid 1px #F7ECEE;
	transition:	3s;
	filter: gray;
	-webkit-filter: grayscale(1); 
	/* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .8s ease-in-out;  
}


.highlight:hover {
	z-index: 9999;
	filter:none;
	-webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
	transform: scale(1.5);
}



.div-highlights {
	display: flex;
	/*flex-direction: column;*/
	align-items: center; 
	justify-content: center;


}


.third-div-1 > .section-name {
	padding-left: 50px;
	padding-right: 50px;
}

/*THIRD DIV END*/



/*FOURTH DIV START*/

.fourth-div {
	background: url(../images/photo4.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;


	position: relative;

}


.fouth-div-split {
	display: flex;
	flex-direction: column;
}


.form-contents, .contact-message {
	width: 50%;
	margin-top: -150px;
	position: absolute;
	left: 30px;
}



.form-input {
	/*display: block;*/
	width: 100%;
	border-radius: 10px;
	font-size: 18px;
	margin: 15px 0;
	font-family: 'Libre Caslon Display', serif;
	font-weight: 1000;
}

form {
	width: 50%;

}

.form-contents > h1 {
	font-weight: 500;
}



.footer {
  background-color: rgb(26,26,26 , 0.8);
  color: white;
  height: 10vh;
  width: 100%;

  position: absolute;
  bottom: 0;
  text-align: center;

  /*display: initial;*/
}


.logo {
	height: 10vh;
	opacity: 0.3;
	/*width: 200px;*/
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  opacity: 0.3;
}
/*.fa-facebook {
  background: #3B5998;
  color: white;
}
*/
/*FOURTH DIV END*/



.title {
	font-size: 100px;
	font-family: 'Libre Caslon Display', serif;
	color: #F7ECEE;
	/*font-style: italic;*/

}

.subtitle {
	font-size: 45px;
	font-family: 'Pinyon Script', cursive;
	color: #F7ECEE;
	/*font-style: italic;*/


}


/*Button effect*/
.button {
  padding: 15px 25px;
  font-size: 20px;
  font-family: 'Libre Caslon Display', serif;
  font-style: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #F7ECEE;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  border-radius: 15px;
  font-weight: 500;
}

.button:hover {
	background-color: rgb(175, 38, 54 , 0.8)
	/*#AF2636*/
}


/*Second block*/

.home {
	background: gray;
	background-size: cover;
	background-position: center;
	height: 100vh;
}






/*SLIDERRRRRRR*/
.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  height: 100%;
  width: 100%;
  position: relative;
  margin: auto;
/*
 position: absolute;
	top: 0;
	left: 0;*/




}


.mySlides > img {
  height: 100vh;
  object-fit: cover;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



/*MEDIA QUERIES*/

/*Galaxy S5*/

@media only screen and (min-width: 360px) and (max-width: 640px) {
	/*we can do our normal css here*/
	/** {
		font-size: 10px;
	}
*/
	
	.navbar {
		position: sticky;
		z-index: 99999;
		font-size: 10px;
	}

	.navbar > a {
		margin-left: 30px;
	}

	.portrait {
		height: 250px;
		width: 250px;
	}

	.cover-photo > p.title {
		font-size: 30px;
		padding: 20px 50px;
	}

/*	.cover-photo {
		margin-left: -200px;
	}*/


	/*SECOND DIV START*/
	.second-div {
		height: 180vh;
		}


	.second-div, .div-portraits {
		display: block;
	}

	.section-name {
		font-size: 20px;
	}

	.align > h2 {
		font-size: 20px;
	}

	.we-are-ds > h1, h2 {
		font-size: 20px;
	}

	/*SECOND DIV END*/

	/*THIRD DIV START*/
	.highlights-section {
		height: 250vh;
		display: block
	}

	.div-highlights {
		display: block;
		text-align: center;
	}

	.highlight{
		filter: none;
	}
	

	.highlight:hover {
	z-index: 9999;
	filter:none;
	-webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
	transform: scale(1.0);
}

	.third-div-btn {
		margin-top: 50px;

	}
	
	/*THIRD DIV END*/


	/*FOURTH DIV START*/
	.fourth-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		/*position: center;*/
	}
	
	.form-contents, form {
		width: 90%;
		font-size: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		float: left;
		margin-top: 5px;
		/*position: center;*/
		/*margin-top: 50px;*/
	}


	.form-input {
		width: 75%
		/*height: 20%;*/
	}

	.button {
		font-size: 10px;	
	}

	.logo {
		height: 20px;
		width: 50px;
	}

	.form-contents > h1 {
		color: #F7ECEE;
	}

	
}


/*IPAD*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	/*we can do our normal css here*/
	* {
		font-size: 20px;
	}
	
	.navbar {
		position: sticky;
		z-index: 99999;
	}


	.cover-photo > p.title {
		font-size: 70px;
		padding: 20px 50px;
	}


	/*SECOND DIV START*/
	.second-div {
		height: 130vh;
		}

	.section-name {
		font-size: 50px;
	}


	.second-div, .div-portraits {
		display: block;
	}

	.we-are-ds > h1, h2 {
		font-size: 30px;
	}

	.digital-surf-color {
		font-size: 30px;
	}

	/*SECOND DIV END*/

	/*THIRD DIV START*/
	.highlights-section {
		height: 110vh;
		display: block
	}

	.div-highlights {
		display: block;
		text-align: center;
	}

	.highlight{
		filter: none;
	}

	.highlight:hover {
		z-index: 9999;
		filter:none;
		-webkit-filter: grayscale(0);
	    -webkit-transform: scale(1.01);
		transform: scale(1.0);
}

	/*FOURTH DIV START*/
	.fourth-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		/*position: center;*/
	}
	
	.form-contents, form {
		width: 100%;
		font-size: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		float: left;
		margin-right: 50px;
		/*position: center;*/
		/*margin-top: 50px;*/
	}


	.form-input {
		width: 75%
		/*height: 20%;*/
	}

	.form-contents > h1 {
		color: #F7ECEE;
		margin-right: 50px;
		font-size: 30px;
	}

}